extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/').back ← Projects
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 #{project_name}

        
        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

       
        ul
          each val in technologies
            li= val
          
          

        
        a.button.expanded(href=`${live_link}`) Live Demo
        a.button.expanded(href=`${github_link}`) GitHub Repo
        br
        
    
    
    img.image(src=`/static${image_urls[1]}`)
    img.image(src=`/static${image_urls[2]}`)
    if image_urls[3]
      img.image(src=`/static${image_urls[3]}`)